.league {
  height: 100vh;
  background: #cecccc;
  float: left;
  width: 100%;
  background-color: #ebebeb;
}
.league .bv-example-row {
  padding: 7% 0% 11% 40%;
}
.league .bv-example-row .leagueUI .league-item {
  margin-bottom: 10px;
}
.league .bv-example-row .leagueUI .league-item .rounded-pill {
  border-radius: 50rem !important;
  margin-right: 20px;
}
.league .bv-example-row .btn-primary {
  margin-top: 10px;
}
.createleague {
  height: calc(100vh - 40px);
  background: #cecccc;
  float: left;
  width: 100%;
  background-color: #ebebeb;
}
.createleague .custom-card {
  float: left;
  width: 100%;
  background: none;
}
.createleague .custom-card .tabs {
  border-bottom: none;
}
.createleague .custom-card .tabs .nav-tabs {
  border: none;
  margin: 19px 0px;
}
.createleague .custom-card .tabs .nav-tabs .nav-item .nav-link {
  background-color: none;
  border: none;
  color: #696969;
  padding: 3px 15px;
  text-decoration: none;
  outline: none;
}
.createleague .custom-card .tabs .nav-tabs .nav-item .nav-link .nav-link.active {
  border-color: none;
  background-color: none;
  color: #495057;
  border-bottom: 1px solid #414bda;
}
.createleague .custom-card .tabs .nav-tabs .nav-item .nav-link .nav-link.active ul li a {
  color: #000;
}
.createleague .custom-card .tabs .nav-tabs .active {
  background: none;
  color: #000 !important;
  border-bottom: solid 1px #4d4dd6 !important;
}
.createleague .custom-card .tabs .btn-info {
  color: #000;
  background-color: white;
  border-color: white;
  text-align: left;
}
.createleague .custom-card .tabs .tab-content {
  background: #fff;
  margin-top: 20px;
  margin: 0px 25%;
  padding: 25px;
  height: auto;
  overflow-y: auto;
  max-height: 500px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .tablist .custom-tab a {
  float: left;
  width: 100%;
  text-align: left;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  background: #f1f1f161;
  padding: 5px 10px;
  position: relative;
  border-bottom: solid 1px #fff;
}
.createleague .custom-card .tabs .tab-content .tab-pane .tablist .custom-tab a[aria-expanded="false"]:before {
  content: "\02C7";
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 26px;
  color: #8a8484;
}
.createleague .custom-card .tabs .tab-content .tab-pane .tablist .custom-tab a[aria-expanded="true"]:before {
  content: "\02C6";
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 26px;
  color: #8a8484;
}
.createleague .custom-card .tabs .tab-content .tab-pane .tablist .custom-tab .collpase-content {
  border: solid 1px #fafafa;
  float: left;
  padding: 10px;
  display: table;
  border-top: none;
}
.createleague .custom-card .tabs .tab-content .tab-pane .tablist .mb-1 {
  margin-left: -40px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list {
  margin-left: 0;
  padding: 0px 0;
  height: auto;
  float: left;
  width: 100%;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list .category-item {
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin-bottom: 5px;
  float: left;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox {
  float: left;
  margin-bottom: 0;
  font-size: 13px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox .custom-control-label::before {
  top: 2px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox .custom-control-label::after {
  top: 0.1rem !important;
}
.createleague .custom-card .tabs .tab-content .tab-pane .categoory-list .category-item .custom-select {
  float: left;
  width: 20%;
  float: right;
  height: 25px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .box-header {
  float: left;
  width: 100%;
  border-bottom: solid 1px #b3b3b3;
  padding: 5px 0;
  margin-bottom: 5px;
}
.createleague .custom-card .tabs .tab-content .tab-pane .box-header p {
  float: left;
  color: #807e7e;
}
.createleague .custom-card .tabs .btn .b-icon.bi {
  float: right;
}
.createleague .row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 23%;
  margin-top: 40px;
  width: 53%;
}
.createleague .row .form-control {
  margin-left: 20px !important;
}
.createleague .row .form-control .custom-select {
  margin-left: 25px;
}
.createleague h3 {
  text-align: center;
  color: #302c2c;
  padding-top: 20px;
}
.createleague .rounded-pill {
  margin-top: 20px;
  border-radius: 50rem !important;
}
.createleague .card-header {
  background-color: none;
}
.createleague label {
  float: left;
}
.createleague ul,
.createleague dl {
  margin-left: -20px;
  margin-top: none;
  margin-bottom: none;
}
.createleague ul ol {
  margin-bottom: 0;
  text-align: initial;
  margin-left: -20px;
}
.myleague {
  background: #cecccc;
  float: left;
  width: 100%;
  background-color: #ebebeb;
}
.myleague h3 {
  text-align: center;
  color: #302c2c;
  padding-top: 20px;
}
.myleague .leaguesfeed .firstcol {
  margin-left: 5% !important;
  max-width: 75% !important;
}
.myleague .leaguesfeed .nav-tabs {
  border: none;
  margin: 19px 80px;
}
.myleague .leaguesfeed .nav-tabs .nav-item .nav-link {
  background-color: none;
  border: none;
  color: #696969;
  padding: 3px 15px;
  text-decoration: none;
  outline: none;
}
.myleague .leaguesfeed .nav-tabs .nav-item .nav-link .nav-link.active {
  border-color: none;
  background-color: none;
  color: #495057;
  border-bottom: 1px solid #414bda;
}
.myleague .leaguesfeed .nav-tabs .nav-item .nav-link .nav-link.active ul li a {
  color: #000;
}
.myleague .leaguesfeed .nav-tabs .active {
  background: none;
  color: #000 !important;
  border-bottom: solid 1px #4d4dd6 !important;
}
.myleague .leaguesfeed .tab-content {
  background: #fff;
  margin-top: 20px;
  max-height: 500px;
}
.myleague .leaguesfeed .tab-content .tab-pane .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.myleague .leaguesfeed .tab-content .tab-pane .overflow .mt-3 {
  margin-top: 1rem !important;
}
.myleague .leaguesfeed .tab-content .tab-pane .overflow .mt-3 .pagination {
  padding: 0 0 5% 35%;
}
.myleague .secondcol .float-left {
  float: left !important;
  width: 100%;
  margin-bottom: 25px;
}
.myleague .secondcol .float-left .btn {
  margin-top: 300%;
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
  border-radius: 20px;
}
.myleague .secondcol .float-left .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 {
  margin-bottom: 0.5rem !important;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .image {
  border-radius: 50%;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .heading h5 {
  margin: 13px 0 0 15px;
  line-height: 0px;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .timing {
  margin: 2px 0 0 15px;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .timing span {
  font-size: 10px;
  color: lightgray;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body p {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 16px;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .secondcol {
  padding-left: 1em;
}
.myleague .secondcol .float-left .dropdown-menu .mb-2 .card-body .secondcol .images {
  padding: 3px;
  border-radius: 20px;
}
.successleague {
  height: calc(100vh - 40px);
  background: #cecccc;
  float: left;
  width: 100%;
  background-color: #ebebeb;
}
.successleague h5 {
  margin-top: 42px;
}
.successleague .container .card .card-body .image {
  float: left;
  padding: 3px;
  border-radius: 42px;
}
.successleague .container .card .card-body .my-1 {
  margin-left: 15px;
  display: flex;
}
.successleague .container .card .card-body .my-1 label {
  font-size: 20px;
  display: flex;
  margin-top: 0px;
  margin-right: 20px;
}
.successleague .container .card .card-body .my-1 .btn-primary {
  margin-left: 20px;
}
.successleague .container .card .card-body .my-1 .form-control {
  width: 40%;
  display: flex;
  margin-bottom: 0.25rem !important;
}
.successleague .profileinput {
  background-color: #fff;
  width: 65%;
  margin-top: 5%;
}
.successleague .profileinput .btn {
  margin-left: 10px;
  width: 46%;
}
.successleague .profileinput .inbox {
  height: auto;
}
.successleague .profileinput .inbox .image {
  float: left;
  padding: 3px;
  border-radius: 42px;
}
.successleague .profileinput .inbox .custom-form label {
  float: left;
  margin-left: 13px;
  margin-top: 10px;
}
.successleague .profileinput .inbox .custom-form .primary {
  float: right;
  width: 18%;
}
.successleague .profileinput h5 {
  float: left;
}
.successleague .profileinput .profile {
  margin-top: 10%;
}
.successleague .profileinput .profile .card {
  border: none;
}
.successleague .profileinput .profile img {
  align-self: center;
  border-style: none;
  border-radius: 42px;
  width: 80px;
  height: 80px;
}
.joinleague {
  background: #cecccc;
  float: left;
  width: 100%;
  background-color: #ebebeb;
}
.joinleague h3 {
  font-size: 1.75rem;
  margin-top: 41px;
}
.joinleague .rounded-pill {
  border-radius: 50rem !important;
  width: 14%;
  float: left;
  margin-left: 30px;
  margin-top: -35px;
}
.joinleague .balls {
  margin-left: 46%;
}
.joinleague .balls img {
  width: 42px;
  background-color: #ebebeb;
}
.joinleague .tabs {
  border-bottom: none;
}
.joinleague .tabs .nav-tabs {
  border: none;
  margin: 19px 0px;
}
.joinleague .tabs .nav-tabs .nav-item .nav-link {
  background-color: none;
  border: none;
  color: #696969;
  padding: 3px 15px;
  text-decoration: none;
  outline: none;
}
.joinleague .tabs .nav-tabs .nav-item .nav-link .nav-link.active {
  border-color: none;
  background-color: none;
  color: #495057;
  border-bottom: 1px solid #414bda;
}
.joinleague .tabs .nav-tabs .nav-item .nav-link .nav-link.active ul li a {
  color: #000;
}
.joinleague .tabs .nav-tabs .active {
  background: none;
  color: #000 !important;
  border-bottom: solid 1px #4d4dd6 !important;
}
.joinleague .tabs .button {
  margin: 0 0 0 1%;
  width: 15%;
}
.joinleague .tabs .form-control {
  width: 40%;
  margin-left: 9px;
}
.joinleague .tabs .tab-content {
  background: #fff;
  margin-top: 20px;
  margin: 0px 25%;
  padding: 25px;
  height: auto;
  overflow-y: auto;
  max-height: 500px;
}
.joinleague .tabs .tab-content .tab-pane .tablist .row {
  padding: 6px;
  margin: 0 0 0 -28px;
}
.joinleague .tabs .tab-content .tab-pane .tablist .row button.btn.btn-primary {
  width: 75%;
  margin-left: 45%;
}
.joinleague .tabs .tab-content .tab-pane .tablist .custom-tab a {
  float: left;
  width: 100%;
  text-align: left;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  background: #f1f1f161;
  padding: 5px 10px;
  position: relative;
  border-bottom: solid 1px #fff;
}
.joinleague .tabs .tab-content .tab-pane .tablist .custom-tab a[aria-expanded="false"]:before {
  content: "\002B";
  position: absolute;
  right: 10px;
  top: -6px;
  font-size: 26px;
  color: #017bff;
}
.joinleague .tabs .tab-content .tab-pane .tablist .custom-tab a[aria-expanded="true"]:before {
  content: "\002D";
  position: absolute;
  right: 10px;
  top: -6px;
  font-size: 26px;
  color: #017bff;
}
.joinleague .tabs .tab-content .tab-pane .tablist .custom-tab .collpase-content {
  border: solid 1px #fafafa;
  float: left;
  padding: 10px;
  display: table;
  border-top: none;
}
.joinleague .tabs .tab-content .tab-pane .inputbox {
  margin-bottom: 5%;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list {
  margin-left: 0;
  padding: 0px 0;
  height: auto;
  float: left;
  width: 100%;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list .category-item {
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin-bottom: 5px;
  float: left;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox {
  float: left;
  margin-bottom: 0;
  font-size: 13px;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox .custom-control-label::before {
  top: 2px;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list .category-item .custom-checkbox .custom-control-label::after {
  top: 0.1rem !important;
}
.joinleague .tabs .tab-content .tab-pane .categoory-list .category-item .custom-select {
  float: left;
  width: 20%;
  float: right;
  height: 25px;
}
.joinleague .tabs .tab-content .tab-pane h5 {
  margin-right: 75%;
}
.joinleague .tabs .tab-content .tab-pane .box-header {
  margin-top: 30px;
  width: 70%;
}
.joinleague .tabs .tab-content .tab-pane .box-header .float-left {
  float: left !important;
  margin-left: 13%;
}
.joinleague .tabs .tab-content .tab-pane .box-header .float-right {
  float: right !important;
  margin: -20px 0 0px 19px;
}
